<section class="hero-carousel hero-museo">
  <div class="slide" *ngFor="let pintura of obrasDestacadas; let i = index" [class.active]="i === activeSlide">
    <img [src]="pintura.imagen" alt="Imagen del museo" class="hero-bg" />
    <div class="hero-overlay">
      <h1>{{ pintura.titulo }}</h1>
      <p *ngIf="pintura.autor">{{ pintura.autor }}</p>
    </div>
  </div>
</section>


<section class="acceso-directo-section">
  <div class="cards-container">
    <mat-card class="card-acceso" *ngFor="let card of cards" (click)="navegar(card.ruta)">
      <img mat-card-image [src]="card.imagen" alt="Imagen sección" />
      <mat-card-content>
        <h3 class="titulo-card">{{ card.titulo }}</h3>
        <p class="descripcion-card">{{ card.descripcion }}</p>
      </mat-card-content>
    </mat-card>
  </div>
</section>
